
services:
  inference:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: inference
    environment:
      - MODEL_PATH=/app/models/gemma-finetuned-v2
    volumes:
      - ./models:/app/models:ro
    restart: unless-stopped
    ports:
      - "8080:8080"

  streamlit:
    build:
      context: test-front
      dockerfile: Dockerfile
    container_name: front
    depends_on:
      - inference
    restart: unless-stopped
    ports:
      - "8501:8501"

